<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd" 
    version="4.0">



  <!-- Định nghĩa các file chào mừng -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <!-- Filter để thiết lập mã hóa UTF-8 cho toàn bộ yêu cầu -->
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>forceEncoding</param-name>
        <param-value>true</param-value>
    </init-param>
  </filter>

  <!-- Áp dụng filter cho tất cả các yêu cầu -->
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern> <!-- Áp dụng cho tất cả các yêu cầu -->
  </filter-mapping>
 <!-- Định nghĩa servlet -->
    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <servlet-class>servlet.HeaderServlet</servlet-class>
    </servlet>

    <!-- Ánh xạ servlet với URL -->
    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/views/HeaderServlet</url-pattern>
    </servlet-mapping>
    
    
</web-app>
  <resource-ref>
    <description>SQL Server DataSource</description>
    <res-ref-name>jdbc/sql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
 
</web-app>

